/* *******************************************
****** PROJECT SETUP
******************************************* */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;800;900&family=Roboto:wght@300&display=swap');

/* VARIABLES */
:root {
  /* MAIN COLORS */
  --main: #2F4F4F;
  --secondary: #FAEBD7;
  --accent: #DAA520;

  /* FONTS */
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
}  

/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid gold; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
}

body {
  font-family: var(--text);
}

/* *******************************************
****** PROJECT STYLES
******************************************* */
