@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;800;900&family=Roboto:wght@300&display=swap');

/* VARIABLES */

html{
  font-size: 10px;
}

:root {
  /* MAIN COLORS */
  --main: #2F4F4F;
  --secondary: #FAEBD7;
  --accent: #DAA520;

  /* FONTS */
  --title: 'Playfair Display', serif;
  --text: 'Roboto', sans-serif;
}  

/* GLOBAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--main);
  
}

h1, h5, h6 {
  font-family: var(--title);
  padding: 5px
}

h3{
  font-family: var(--text);
  color: var(--accent);
}

h2 {
  font-family: var(--title);
  padding: 5px;
  font-size: 4rem;
  letter-spacing: 1px;
  font-weight: 800;
  writing-mode: vertical-lr;
}

h4 {
  font-family: var(--title);
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3rem;
  color: var(--accent);
  letter-spacing: 1px;
  text-align: right;
}

body {
  font-family: var(--text);
  color: var(--secondary);
}

/* MOBILE */
/************* NAV BAR ************/

nav{
  background-color: var(--secondary);
  height: 60px;
  width: 100%;
}

.menu-button{
  width: 50px;
  margin-top: 7px;
  position: relative;
  left: 80%;
}

.menu-button::part(base){
  background-color: var(--secondary);
  border: none;
}

.menu-button i{
  background-color: var(--secondary);
  color: #2F4F4F;
}
/************* NAV DRAWER ************/

sl-drawer::part(body){
  background-color: var(--secondary);
}

sl-drawer::part(title){
  background-color: var(--secondary);
  color: var(--main);
  font-family: var(--title);
  font-size: 3rem;
}

nav sl-drawer ul li{
  background-color: var(--secondary);
}

.nav-button{
  background-color: var(--secondary);
  color: var(--main);
  font-family: var(--title);
  font-weight: 800;
  font-size: 4em;
  margin-top: 20%;
  text-decoration: none;
}

sl-drawer::part(close-button){
  background-color: var(--secondary);
  color: var(--main);
  font-size: 5em; 
}

/************* HOME ************/

body{
  background-color: var(--main)
}

main{
  display: block;
}

#top-box{
  border: solid 3px;
  border-color: var(--secondary);
  margin: 1.5rem;
  background-color: var(--main);
}

img {
  max-width: 75%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.5%;
  margin-bottom: 9%;
  border: 3px solid var(--accent);
}

h1 {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  padding: 1rem;
}

h3 {
  font-size: 2.3rem;
  text-align: center;
  letter-spacing: 1px;
}

/************* WORK ************/
.work-section-grid{
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 15%;
}

.cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-image h5{
  font-family: var(--text);
  font-size: 2rem;
  text-align: center;
  background-color: var(--secondary);
  color: var(--main);
}

.card-image p{
  font-family: var(--text);
  background-color: var(--secondary);
  color: var(--main);
}

.card-image img{
  background-color: var(--secondary);
  padding:0px;
  margin: 10px auto 10px auto;
  border: 1px solid var(--main);
}

.card-image::part(base){
  background-color: var(--secondary);
}

.card-image {
  max-width: 350px;
  min-height: 400px;
  margin: 10px;
}

.card-image::part(body){
  background-color: var(--secondary);
  padding: 10px; 
}

.live-button, .gitHub-button{
  display: flex;
  padding-bottom: 15px;
  background-color: var(--secondary);
}

.gitHub-button::part(label){
  font-family: var(--title);
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: 1.5px;
  color: var(--main);     
}

.live-button::part(label){
  font-family: var(--title);
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: 1.5px;
  color: var(--main); 
  padding-top: 5px;   
}

 .gitHub-button::part(base){
  background-color: var(--secondary); 
  border: 3px solid var(--main);
  height: 40px;
  padding-top: 5px;     
}

.live-button::part(base){
  background-color: var(--secondary); 
  border: 3px solid Var(--main);
  height: 40px;
}

/************* ABOUT ************/
.about-section-grid{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 15%;
}
/************* SKILLS ************/

#skills-box{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border: solid 3px;
  border-color: var(--secondary);
  margin: 1.5rem;
}

#skill-display{
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}

#skill{
  padding: 2%;
  flex-grow: 1;
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
}

#skill i{
  font-size: 3.5rem;
  text-align: center;
}

#skill p{
  text-align: center;
}

/******* BIO ******/
  #bio-box{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border: solid 3px;
    border-color: var(--secondary);
    margin: 1.5rem;
  }

  p {
    font-size: 1.5rem;
    padding: 1rem;
  }

/************* CONTACT ************/

.contact-grid{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 400px 50px 50px 50px;
  margin: 30% 3% 10% 0;
}

form{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid var(--secondary);
  padding-left: 10px;
  margin: 10px;
}

form label{
  font-family: var(--title);
  color: var(--accent);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 10px;
}

form input{
  background-color: #EBD7A4;
  font-family: var(--text);
  font-size: 1.5rem;
  color: black;
  min-height: 10%;
  max-height: 15%;
  max-width: 90%;
  border: none;
}

form textarea{
  background-color: #EBD7A4;
  font-family: var(--text);
  font-size: 1.5rem;
  color: black;
  min-height: 40%;
  max-width: 90%;
}

button{
  border: none;
  font-family: var(--title);
  text-decoration: none;
  color: var(--secondary);
  font-size: 2rem;
  font-weight: 500;
  display: block;
  padding: 1rem;
  text-align: right;
}

button:hover{
  text-decoration: underline;
}

#linked-in{
  font-family: var(--text);
  text-decoration: none;
  color: var(--secondary);
  font-size: 1.8rem;
  padding: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#linked-in .fab {
  font-size: 3rem;
  padding-right: 10px;
}

#twitter{
  font-family: var(--text);
  text-decoration: none;
  color: var(--secondary);
  font-size: 1.8rem;
  font-weight: 500;
  padding: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#twitter .fab {
  font-size: 3rem;
  padding-right: 10px;
}

#github{
  font-family: var(--text);
  text-decoration: none;
  color: var(--secondary);
  font-size: 1.8rem;
  font-weight: 500;
  padding: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

#github .fab {
  font-size: 3rem;
  padding-right: 10px;
}

