/* *******************************************
****** PROJECT SETUP
******************************************* */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;800;900&family=Roboto:wght@300&display=swap');

/* VARIABLES */

:root {
  /* MAIN COLORS */
  --main: #2F4F4F;
  --secondary: #FAEBD7;
  --accent: #DAA520;

  /* FONTS */
  --title: font-family: 'Playfair Display', serif;
  --text: font-family: 'Roboto', sans-serif;
}  

/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #2F4F4F;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  font-size: 10px;
  padding: 5px
}
/* Q - is the font size and padding pulling element above? */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: #FAEBD7
}

/* *******************************************
****** PROJECT STYLES
******************************************* */

/************* HEADER-HOME ************/

nav ul{
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  letter-spacing: 1.5px;
  font-size: 2rem;
 
}

#top-box{
  border: solid 3px;
  border-color: #FAEBD7;
  margin: 1.5rem;
}

img {
  max-width: 95%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 1.5px;
  text-align: center;
  padding: 1rem;
}

/************* ABOUT ************/

#bio{
  text-align: right;
  padding-right: 1rem;
}


h2 {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 800;
  writing-mode: vertical-lr;
}

h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1rem;
  color: #DAA520;
  text-align: center;
  letter-spacing: 1px;
}

h4 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.3rem;
  color: #DAA520;
  letter-spacing: 1px;
}

.section-grid{
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding-top: 15%;
}

#bio-box{
  border: solid 3px;
  border-color: #FAEBD7;
  margin: 1.5rem;

}

p {
  font-size: 1rem;
  padding: 1rem;
}

/************* SKILLS ************/

#skills-box{
    border: solid 3px;
    border-color: #FAEBD7;
    margin: 1.5rem;
    /* height: auto; */
    min-height: 60vh;
  
  }

#skills-box ul {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  list-style-type:none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5%;
}

#skills-box ul li{
  display: grid;
  justify-self: center;
}

.fab, .fas, .far{
  display: block;
  font-size: 2rem;
  justify-self: center;
}

/************* WORK ************/

.cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/************* CONTACT ************/

button{
  border: none;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  color: #FAEBD7;
  font-size: 1rem;
  font-weight: 500;
  display: block;
  padding: 1rem;
  text-align: right;
}

button:hover{
  text-decoration: underline;
}

/* form{
  grid-area: 1 / 2 / 2 / 3;
} */

#social{
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  color: #FAEBD7;
  font-size: 1rem;
  font-weight: 500;
  grid-column-start: 2;
  grid-column-end: 3;
}


